html, body, .root {
	height: 100%;
}

body {
	line-height: 1.5;
}

body, .app {
	background: white;
}

/* main page */
.list-books-title {
	padding: 10px 0;
	background: #2e7c31;
	text-align: center;
}

.list-books-title h1 {
	font-weight: 400;
	margin: 0;
	color: white;
}

.list-books-content {
	padding: 0 0 80px;
	flex: 1;
}

.bookshelf {
	padding: 0 10px 20px;
}

@media (min-width: 600px) {
	.bookshelf {
		padding: 0 20px 40px;
	}
}

.bookshelf-title {
	border-bottom: 1px solid #dedede;
}

.bookshelf-books {
	text-align: center;
}

.open-search {
	position: fixed;
	right: 25px;
	bottom: 25px;
}

.open-search a {
	display: block;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #2e7d32;
	background-image: url("./icons/add.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 28px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	font-size: 0;
}

/* search page */
.search-books-bar {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 5;
	display: flex;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 0 6px rgba(0, 0, 0, 0.23);
}

.search-books-input-wrapper {
	flex: 1;
	background: #e9e;
}

.search-books-bar input {
	width: 100%;
	padding: 15px 10px;
	font-size: 1.25em;
	border: none;
	outline: none;
}

.close-search {
	display: block;
	top: 20px;
	left: 15px;
	width: 50px;
	height: 53px;
	background: white;
	background-image: url("./icons/arrow-back.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 28px;
	font-size: 0;
}

.search-books-results {
	padding: 80px 10px 20px;
}

/* books grid */
.books-grid {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.books-grid li {
	padding: 10px 15px;
	text-align: left;
}

.book {
	width: 140px;
}

.book-title,
.book-authors {
	font-size: 0.8em;
}

.book-title {
	margin-top: 10px;
}

.book-authors {
	color: #999;
}

.book-top {
	position: relative;
	height: 200px;
	display: flex;
	align-items: flex-end;
}

.book-shelf-changer {
	position: absolute;
	right: 0;
	bottom: -10px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #60ac5d;
	background-image: url("./icons/arrow-drop-down.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.book-shelf-changer select {
	width: 100%;
	height: 100%;
	opacity: 0;
	cursor: pointer;
}

/* book cover */
.book-cover {
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	background: #eee;
}

.book-cover-title {
	padding: 20px 10px 0;
	text-align: center;
	font-size: 0.8em;
}

/* selected-shelf*/
.selected-shelf {
	background-color: green;
}

.full-screen {
	width: 100%;
	text-align: center;
}

.img-responsive {
	width: 100%;
	height: auto;
	max-width: 300px;
}

.signup-content {
	display: flex;
	padding: 35px 0;
	flex-flow: wrap;
}

 .signup-image, .signin-form, .signin-image {
	width: 50%;
	overflow: hidden;
}

.signup-image {
	margin: 0 55px;
}

.form-title {
	margin-bottom: 33px;
}

.signup-image {
	margin-top: 45px;
}

figure {
	margin-bottom: 50px;
	text-align: center;
}

.form-submit {
	display: inline-block;
	background: #6dabe4;
	color: #fff;
	border-bottom: none;
	width: 100%;
	padding: 15px 39px;
	border-radius: 5px;
	margin-top: 25px;
	cursor: pointer;
}

.form-submit:hover {
	background: #4292dc;
}

#signin {
	margin-top: 16px;
}

.signup-image-link {
	font-size: 14px;
	color: #222;
	display: block;
	text-align: left;
	margin-top: 10px;
}

.term-service {
	font-size: 13px;
	color: #222;
}

.signup-form {
	width: auto;
	padding: 20px 30px;
	background: white;
	border-radius: 10px;
}

.register-form {
	width: 100%;
}

.form-group {
	position: relative;
	margin-bottom: 25px;
	overflow: hidden;
}

.form-group:last-child {
	margin-bottom: 0px;
}

input {
	width: 100%;
	display: block;
	border: none;
	border-bottom: 1px solid #999;
	padding: 6px 30px;
	font-family: Poppins;
	box-sizing: border-box;
}

input:focus {
	border-bottom: 1px solid #222;
}

input[type=checkbox]:not(old) {
	width: 2em;
	margin: 0;
	padding: 0;
	font-size: 1em;
	display: none;
}

input[type=checkbox]:not(old) + label {
	display: inline-block;
	line-height: 1.5em;
	margin-top: 6px;
}

input[type=checkbox]:not(old) + label > span {
	display: inline-block;
	width: 13px;
	height: 13px;
	margin-right: 15px;
	margin-bottom: 3px;
	border: 1px solid #999;
	border-radius: 2px;
	background: white;
	background-image: -moz-linear-gradient(white, white);
	background-image: -ms-linear-gradient(white, white);
	background-image: -o-linear-gradient(white, white);
	background-image: -webkit-linear-gradient(white, white);
	background-image: linear-gradient(white, white);
	vertical-align: bottom;
}

input[type=checkbox]:not(old):checked + label > span {
	background-image: -moz-linear-gradient(white, white);
	background-image: -ms-linear-gradient(white, white);
	background-image: -o-linear-gradient(white, white);
	background-image: -webkit-linear-gradient(white, white);
	background-image: linear-gradient(white, white);
}

input[type=checkbox]:not(old):checked + label > span:before {
	content: '\f26b';
	display: block;
	color: #222;
	font-size: 11px;
	line-height: 1.2;
	text-align: center;
	font-family: 'Material-Design-Iconic-Font';
	font-weight: bold;
}

.agree-term {
	display: inline-block;
	width: auto;
}

label {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	color: #222;
}

.label-has-error {
	top: 22%;
}

label.error {
	position: relative;
	background-position-y: 3px;
	padding-left: 20px;
	display: block;
	margin-top: 20px;
}

label.valid {
	display: block;
	position: absolute;
	right: 0;
	left: auto;
	margin-top: -6px;
	width: 20px;
	height: 20px;
	background: transparent;
}

label.valid:after {
	font-family: 'Material-Design-Iconic-Font';
	content: '\f269';
	width: 100%;
	height: 100%;
	position: absolute;
    /* right: 0; */
	font-size: 16px;
	color: green;
}

.label-agree-term {
	position: relative;
	top: 0%;
	transform: translateY(0);
}

.material-icons-name {
	font-size: 18px;
}
.sign-in, .signup {
    display: flex;
    min-height: 100vh;
    background: #134e5e; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #134e5e, #71b280); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #134e5e, #71b280);
}
.signin-content {
	display: flex;
	padding-top: 40px;
    padding-bottom: 40px;
    margin: 30px auto;
    flex: 1;
    background-color: white;
    border-radius: 10px;
}

.signin-form {
	margin-right: 90px;
	margin-left: 80px;
}

.signin-image {
	margin-left: 50px;
	margin-right: 20px;
	margin-top: 10px;
}

@media screen and (max-width: 1200px) {
	.container {
        max-width: 80%;
        margin: auto;
        display: flex;
	}
}

@media screen and (min-width: 1024px) {
	.container {
        max-width: 1080px;
        margin: auto;
        display: flex;
	}
}

@media screen and (max-width: 768px) {
	.signup-content, .signin-content {
		flex-direction: column;
		justify-content: center;
	}

	.signup-form {
		margin-left: 0px;
		margin-right: 0px;
	}

	.signin-image {
		margin-left: 0px;
		margin-right: 0px;
		margin-top: 50px;
		order: 2;
	}

	.signup-image, .signin-form, .signin-image {
		width: auto;
		padding: 0 30px;
	}
	.signup-form {
		width: auto;
	}

	.social-login {
		justify-content: center;
	}

	.form-button {
		text-align: center;
	}

	.signin-form {
		order: 1;
		margin-right: 0px;
		margin-left: 0px;
		padding: 0 30px;
	}

	.form-title {
		text-align: center;
	}
}

@media screen and (max-width: 400px) {
	.social-login {
		flex-direction: column;
	}

	.social-label {
		margin-right: 0px;
		margin-bottom: 10px;
	}
}